extends layout

block body
  body(onload="init_user_state('#{uuid}')")
    block content
      div.top
        p Welcome #{username}
        a(href="/user_page/logout") Log out
        div
          span(id="new_messages_notification")

      div(id="wrapper")
        div(id="sidebar-wrapper")
          ul.sidebar-nav
            li Comp1
            li Comp2
            li Comp3

        div(id="page-content-wrapper")
          div.container-fluid
            div.row
              div.col-lg-6
                h3 Contacts:
                ul.list-unstyled_components
                  each contact in contacts
                    li
                      a(href="#" onclick="load_conv('#{uuid}', '#{contact.uuid}')") #{contact.email}
                  else
                    li No contacts
              div.col-lg-6
                h3 Conversation:
                  div(id="conversation" style="display:block; font-size:medium")
                  form.form-horizontal(name="/" method="post" onsubmit="return false")
                    textarea(name="txt_msg" id="msg_txt_box" style="font-size:medium")
                    input.btn(type="submit" name="btn_send_msg" value="Send" onclick="send_msg()")

      div.footer
        label.span3 Copyright jsrmalvarez@ninjatic.engineer
